body {
  font-family: sans-serif;
   background-image: linear-gradient(
      to right,
      rgba(118, 196, 94, 1),
      rgba(102, 189, 74, 1)
    );
}

.form {
  &__container {
    padding: 2rem;
    margin: 10rem auto;
    max-width: 20rem;
    
    @media only screen and (max-width: 900px) {
      margin: 9rem auto;
    }
    
    @media only screen and (max-width: 600px) {
      margin: 7rem auto;
    }
  }
  
  &__registered {
    color: #6d6d6d !important;
    font-size: .8rem;
  }
  
  &__createAcct {
    font-size: .8rem;
  }
}

.form-control {
    font-size: .95rem;
}

::-webkit-input-placeholder {
    color: #6d6d6d !important;
}

::-ms-input-placeholder {
  color: #6d6d6d !important;
}

::-moz-input-placeholder {
  color: #6d6d6d !important;
}

::placeholder {
  color: #6d6d6d !important;
}

.btn-success {
    background-color: #348046;
    border-color: #348046;
}
